body {
  color: #313131;
}

#container {
  margin: 10px;
}

.item {
  display: inline-block;
  overflow: hidden;
  width: 200px;

  margin: 5px;
  border: 1px solid #ededed;
}

.item-cover {
  background-image: url(../images/image_not_found.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.item-cover img {
  width: 100%;
  max-height: 300px;
}

.item-title {
  padding: 5px;
  background-color: #313131;
  color: white;
}

.alphabet-link {
  font-size: 3em;
  margin: 5px;
}

.alphabet-anchor {
  font-size: 3em;
  border-bottom: 2px solid #ededed;
  margin: 5px;
  margin-top: 20px;
  padding-left: 10px;
}

.go-top {
  display: none;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  background-image: url(../images/top.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}